body {
	text-align: center;
	background: #5ab0ee;
	color: rgb(230, 230, 230);
	font-family: sans-serif;
	font-weight: 100;
	font-size: 50px;
}

.controls {
	margin-bottom: 50px;
}

input {
	width: 100px;
}

:root {
	--base: #ffc600;
	--spacing: 10px;
	--blur: 10px;
}

.h1 {
	color: var(--base);
}

img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
}
